.pagination-body {
  display: table; /* Allow the centering to work */
  margin: 30px auto;
  .disabled {
    display: none;
  }
  .button-main {
    background-color: rgb(209, 209, 243);
    border-radius: 5px;
    border: 2px rgb(190, 190, 223) solid;
    padding: 5px 10px;
  }
  .active {
    background-color: rgb(126, 126, 246);
    border: 2px rgb(119, 119, 235) solid;
    border-radius: 5px;
    padding: 5px 10px;
  }

  ul {
    list-style: none;
    li {
      display: inline;
      padding: 2px;
    }
  }
}
