@use "../../../utils/constants.scss";

.pagination-body {
  display: table; /* Allow the centering to work */
  margin: 30px auto;
  .disabled {
    display: none;
  }
  .button-main {
    background-color: constants.$primary;
    border-radius: 5px;
    border: 2px constants.$border solid;
    padding: 5px 10px;
  }
  .active {
    background-color: constants.$secondary;
    border: 2px constants.$border-active solid;
    border-radius: 5px;
    padding: 5px 10px;
  }

  ul {
    list-style: none;
    li {
      display: inline;
      padding: 2px;
    }
  }
}
